.box{
    position: relative;
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0,0.5);
    border-radius: 20px;
    overflow: hidden;
    

}
.box h2{
    color: rgb(226,226,226);
    text-shadow: 2px 2px black;
    font-size: 8rem;
}
.box::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 150%;
    background: linear-gradient(#00ccff, #d500f9);
    animation: rotate 5s linear infinite;

}
.box::after{
    content: '';
    position: absolute;
    background: #0e1538;
    inset: 5px;
    border-radius: 16px;
}
.img{
    box-shadow: 0px 0px 12px 0px rgba(233,242,240,0.75);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(233,242,240,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(233,242,240,0.75);
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}
.socialafter::after{
    content: "";
    height: 10rem;
    width: 3px;
    background: #04B4E4;
}
.socialafter::before{
    
    content: "";
    height: 10rem;
    width: 3px;
    background: #04B4E4;
    display: flex;
    justify-content: center;
}