nav{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 30;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
nav a{
    background: transparent;
    padding: 0.9rem;
    color: #04B4E4;
    font-size: 1.1rem;
}
nav a:hover{
    background: #037b9c;
    color: white;
}
nav a.active{
    background: #04B4E4;
    color: white;
}